<div class="row">
    <h2>Employee infomation</h2>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thông tin</th>
                    <th>Thông tin</th>
                </tr>

            </thead>
            <tbody>
            <tr>
                <td>id</td>
                <td>{{eInfo.id}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{eInfo.name}}</td>
            </tr>
            <tr>
                <td>age</td>
                <td>{{eInfo.age}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{eInfo.address}}</td>
            </tr>
            <tr>
                <td>Image</td>
                <td>
                    <img src="{{eInfo.image}}"  alt="">
                </td>
            </tr>
        </tbody>
        </table>
    </div>
  </div>


  